.wrapper {
    background-color: khaki;
    height: 100vh;
}

.text-container {  
    padding-top: 400px;  
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

}