.spinner-box {
    border: 3px solid black;
    border-radius: 3px;
    padding: 50px;
}

.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}