.thumbnail-img-container {
  display: flex;
  margin-right: 2px;
  .thumbnail-img {
    align-self: center;
    padding-right: 2px;
    img {
      border: 5px solid grey;
      background-color: grey;
      max-width: 200px;
    }
  }
}
.container {
  margin-top: 100px;

  &.main-container {
    min-height: 100vh;
  }
}
.jumbotron {
  padding: 1rem;
  background-image: url("../../assets/gc.jpg");
}
